body {
  margin: 0;
  font-family: Arial, sans-serif;
}
header {
  background: red; 
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 30px;
}

.logo {
  font-size: 28px;
  font-weight: bold;
}
.logo span {
  color: black;
}

.nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav ul li {
  margin-left: 25px;
}

.nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  transition: 0.3s;
}

.nav ul li a:hover {
  text-decoration: underline;
}


.burger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.burger span {
  width: 25px;
  height: 3px;
  background: white;
  margin: 4px 0;
}


@media (max-width: 768px) {
  .nav {
    display: none;
    width: 100%;
  }

  .nav.active {
    display: block;
    background: #d50000;
  }

  .nav ul {
    flex-direction: column;
  }

  .nav ul li {
    margin: 15px 0;
    text-align: center;
  }

  .burger {
    display: flex;
  }
}
