body{
    margin: 0px;
    font-family: 'Times New Roman', Times, serif
}
header{
background-color: blue;
align-items: center;
display: flex;
color: white;
justify-content: space-between;
padding: 30px 40px;
}
nav ul{
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}
nav ul li{
    margin-left: 28px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 18px;
}
nav ul li a:hover{
    color: brown;
    text-decoration: underline;
}