body{
    margin: 0px;
    font-family: times New roman,sans-serif;
    
}
header{
    background-color: blueviolet;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px;
}
.nav ul{
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}
.nav ul li{
    margin-left: 25px;
}
.nav ul li a{
    color: white;
    text-decoration: none;
    
}
.nav ul li a:hover{
    color : blue;
    text-decoration: underline;
}